

//colors
$teal: #e1f2ed;
$thunder: #373037;
//chartreuse!!!
$chartreuse: #D5ED3C;
$purple: #8151E1;
$teal: #57D3D9;
$carrot: #FF8F34;
$hotpink: #FF55A2;
$tan: #F3DCB3;
$canary: #FFF700;
$chai: #FAF1C1;
$mint: #BEEB9F;


//greys, lightest to darkest
$gallery: #EBEBEB;
$silver: #B8B8B8;
//dark grey for type
$dusty: #999999;
$grey: #666666;
$emperor: #555555;
$darkgrey: #333333;


$valencia: #D94141;


//type
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: 400;
$h1-font-family: 'Open Sans', sans-serif;
$h1-font-weight: 300;
$extra-bold: 800;

$base-font-size: 18px;
$base-line-height: 28px;
$h1-font-size: 75px;
$h1-line-height: 100px;
$h2-font-size: 50px;
$h2-line-height: 60px;
$h3-font-size: 30px;
$h3-line-height: 40px;
$h5-font-size: 14px;
$h5-line-height: 16px;
$h5-letter-spacing: 2px;


html, body {
  height: 100%;
}

// disable wow animations at smaller dimensions i.e. mobile
@media (max-width: 640px)
{
  .wow {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}


/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: $base-font-family;
  line-height: $base-line-height;

}

a {
  color: $valencia;
}

a:hover {
  color: $valencia;
  text-decoration: underline;

}

p {
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $grey;

}

h1 {
	font-size: $h1-font-size;
  font-family: $h1-font-family;
  font-weight: $h1-font-weight;
  font-size: $h1-font-size;
  line-weight: $h1-line-height;
}

h2 {
  @extend h1;
  font-size: $h2-font-size;
  line-weight: $h2-line-height;
}

h2.path {
  font-size: 40px;
  line-height: 56px;
}

span.path-primary {
  color:$gallery;
  font-weight:600;
}

span.path-secondary {
  color:$dusty;
  font-weight:300;
}

h3 {
  @extend h1;
  font-size: $h3-font-size;
  line-weight: $h3-line-height;
}

h4 {
  @extend h1;
}

h5 {
  @extend h1;
  font-size: $h5-font-size;
  line-weight: $h5-line-height;
  letter-spacing: $h5-letter-spacing;
}

.extra-bold {
  font-weight: 800;
}

img.thumb {
	width:100%;
  opacity: 0.8;

  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

img.thumb:hover {
  opacity: 1;
}

.jumbotron {
	background-size: cover;
	background-repeat:no-repeat;
	width: 100%vw;
	height: 70vh;
  margin:auto;

}

.jumbotron.home {
	background-image:url('../img/topo.png');
  background-color:$tan;
  background-size:cover;
  height:100%;
  min-height: 600px;
}

.jumbotron-copy {
  position: absolute;
  transform: translateY(80%);
}

.jumbotron.index {
	background-image:url('../img/art1.jpg');
}

.jumbotron.ido {
	background-image:url('../img/idoHeader.png');
}
.jumbotron.y-research {
	background-image:url('../img/yr-comicCon.png');
}

.jumbotron.agg {
	background-image:url('../img/agg-header.png');
}

.jumbotron.jut {
	background-image:url('../img/jut-hero-1.png');
}

.jumbotron.pique {
	background-image:url('../img/piqueHeader.png');
}

.jumbotron.alumni {
	background-image:url('../img/alumniHeader.png');
}

.jumbotron.yawn {
	background-image:url('../img/yawnHeader.png');
}

.jumbotron.dispatch {
	background-image:url('../img/dispatchHeader.png');
}

.jumbotron h1 {
  color: $darkgrey;
  font-size:30px;
}



div.background-yahoo-research-intro {
	background-image:url('../img/yahoo-research-intro.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

div.background-yahoo-finance-intro {
	background-image:url('../img/yahoo-finance-intro.svg');
  background-size: 100%
}

// div.background-sfdr-intro {
// 	background-image:url('../img/yahoo-finance-intro.svg');
//   background-size: 100%
// }

div.blockquote {
  background-image:url('../img/topo.png');
  background-color: $darkgrey;
  background-size: cover;
	background-repeat:no-repeat;
  width:100%;

}

blockquote {
  color: $gallery;
  border-left: 0px solid #ccc;
  margin: 1.5em 10px;
  padding: 20px 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: $gallery;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  //font-style: italic;
  color: $gallery;
  display: inline;
}


blockquote footer {
  color: $gallery;
  font-size: 20px;
  line-height:40px;
}

div.teal {
	background-color: $teal;
	padding-top: 50px;
	padding-bottom: 80px;
}

div.aggstock1 {
	background-image:url('../img/art1.jpg');
	height:auto;
}

div.footer {
  background-image:url('../img/topo.png');
  background-color: $darkgrey;
  background-size: cover;
	background-repeat:no-repeat;
}

div.row {
	margin-top: 20px;
	margin-bottom: 30px;
}


//trying to make a responsive circle, doesn't quite work.
.circle1 {
	border-radius: 50%;
  width: 100%;
  padding-bottom:0%;
  background: white;
}



div.path {
  background-image:url('../img/topo.png');
  background-color: $darkgrey;
  background-size: cover;
	background-repeat:no-repeat;
  height:700px;
}

div.case-study {
  height: 800px;
}


div.screenfiller {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border: 15px solid orange
}

div.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.vertical-center2 {
  position: relative;
  transform: translateY(50%);
}

//doesn't vertically center. yet.
img.centered {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

img.fill {
	width:100%;
}





.shadow1 {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
.shadow2 {
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
.shadow3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
.shadow4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
.shadow5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

.artifactpadded {
	border-style:solid;
	border-width:1px;
  border-color: $gallery;
	padding: 30px;

}

.artifact {
	border-style:solid;
	border-width:1px;
	border-color:#dcdcdc;
}

.white {
  color: $gallery;
}

h1.center {
	text-align: center;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    border: 1px solid $darkgrey;
}

.btn-primary.btn-outline {
    color: $darkgrey;

}

a.white.btn-primary.btn-outline {
  color: white;
  border-color: white;
}

a.white.btn-primary.btn-outline:hover {
  color: $darkgrey;
  border-color: $darkgrey;
  background-color: white;
}



.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    background-color: $thunder;
    text-decoration: none;
    color: $gallery;
}

.btn-primary.btn-outline:focus,
.btn-success.btn-outline:focus,
.btn-info.btn-outline:focus,
.btn-warning.btn-outline:focus,
.btn-danger.btn-outline:focus {
    background-color: $thunder;
    text-decoration: none;
    color: $gallery;
}
