

//colors
$teal: #e1f2ed;
$thunder: #373037;

//greys
$gallery: #EBEBEB;
$silver: #B8B8B8;
$grey: #666666;
$dusty: #999999;

//type
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: 400;
$h1-font-family: 'Open Sans', sans-serif;
$h1-font-weight: 300;

$base-font-size: 18px;
$base-line-height: 28px;
$h1-font-size: 75px;
$h1-line-height: 100px;
$h2-font-size: 50px;
$h2-line-height: 60px;
$h3-font-size: 30px;
$h3-line-height: 40px;
$h5-font-size: 14px;
$h5-line-height: 16px;
$h5-letter-spacing: 2px;


html, body {
  height: 100%;
}

// css from original work on site

/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: $base-font-family;
  line-height: $base-line-height;

}


p {
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $grey;

}

h1 {
	font-size: 75px;
  font-family: $h1-font-family;
  font-weight: $h1-font-weight;
  font-size: $h1-font-size;
  line-weight: $h1-line-height;
}

h2 {
  @extend h1;
  font-size: $h2-font-size;
  line-weight: $h2-line-height;
}

h2.path {
  font-size: 40px;
  line-height: 56px;
}

span.path-primary {
  color:$gallery;
  font-weight:600;
}

span.path-secondary {
  color:$dusty;
  font-weight:300;
}

h3 {
  @extend h1;
  font-size: $h3-font-size;
  line-weight: $h3-line-height;
}

h4 {
  @extend h1;
}

h5 {
  @extend h1;
  font-size: $h5-font-size;
  line-weight: $h5-line-height;
  letter-spacing: $h5-letter-spacing;
}


//background grid experiment. not working yet.
.grid {
  position: absolute;
  width:100%;
  height:1000px;

}

.gridline {
  border-color:black;
  border-radius:1px;
  height:100%;
  border-style: solid;

}
//end grid

.thumb {
	width:100%;
}

.jumbotron {
	background-size: cover;
	background-repeat:no-repeat;
	width: 100%vw;
	height: 70vh;
  margin:auto;

}

.jumbotron.home {
	//background-image:url('../img/homeHeader.svg');
  background-size:cover;
  height:100%;
  min-height: 600px;
}

.jumbotron-copy {
  position: absolute;
  transform: translateY(70%);
}

.jumbotron.index {
	background-image:url('../img/art1.jpg');
}

.jumbotron.agg {
	background-image:url('../img/aggHeader.png');
}

.jumbotron.jut {
	background-image:url('../img/jut-hero-1.png');
}

.jumbotron.pique {
	background-image:url('../img/piqueHeader.png');
}

.jumbotron.pique {
	background-image:url('../img/piqueHeader.png');
}

.jumbotron.alumni {
	background-image:url('../img/alumniHeader.png');
}

.jumbotron.yawn {
	background-image:url('../img/yawnHeader.png');
}

.jumbotron.dispatch {
	background-image:url('../img/dispatchHeader.png');
}

.jumbotron.ido {
	background-image:url('../img/idoHeader.png');
}

div.background-yahoo-research-intro {
	background-image:url('../img/yahoo-research-intro.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

div.background-yahoo-finance-intro {
	background-image:url('../img/yahoo-finance-intro.svg');
  background-size: 100%
}

// div.background-sfdr-intro {
// 	background-image:url('../img/yahoo-finance-intro.svg');
//   background-size: 100%
// }

div.blockquote {
  background-color: $thunder;
}

blockquote {
  color: $gallery;
  border-left: 0px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: $gallery;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  //font-style: italic;
  color: $gallery;
  display: inline;
}

blockquote footer {
  color: $gallery;
  font-size: 20px;
  line-height:40px;
}

div.teal {
	background-color: $teal;
	padding-top: 50px;
	padding-bottom: 80px;
}

div.aggstock1 {
	background-image:url('../img/art1.jpg');
	height:auto;
}

div.black {
	background-color: black;
}

div.row {
	margin-top: 20px;
	margin-bottom: 30px;
}

div.circle {
	margin:50px auto;
	width:100px
	;height:100px;
	border-radius:50px;
	font-size:20px;
	color:#fff;line-height:100px
	;text-align:center;background:#000
}

div.path {
  background-color: $thunder;
  height:800px;
}

div.case-study {
  height: 800px;
}


div.screenfiller {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border: 15px solid orange
}

div.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.vertical-center2 {
  position: relative;
  transform: translateY(50%);
}

//doesn't vertically center. yet.
img.centered {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

img.fill {
	width:100%;
}

.shadow1 {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
.shadow2 {
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
.shadow3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
.shadow4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
.shadow5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

.artifactpadded {
	border-style:solid;
	border-width:1px;
  border-color: $gallery;
	padding: 30px;

}

.artifact {
	border-style:solid;
	border-width:1px;
	border-color:#dcdcdc;
}

.white {
  color: $gallery;
}



h1.center {
	text-align: center;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    border: 1px solid $thunder;
}

.btn-primary.btn-outline {
    color: $thunder;
}


.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    background-color: $thunder;
    text-decoration: none;
    color: $gallery;
}
